@model MascotasNDMM.Models.Mascota

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar 🗑</h1>

<h3>¿Estas seguro de que quieres eliminarlo?</h3>
<div>
<ul></ul>
    <img src="~/imagenes/mascotaeliminar.png" class="float-end" width="300">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propietario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idmascotas" />
        <input type="submit" value="Delete" class="btn btn-outline-danger"/>
        <a asp-action="Index" class="btn btn-outline-success">Cancelar</a>
    </form>
</div>
