@model MascotasNDMM.Models.Mascota

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles 🔎</h1>

<div>
    <img src="~/imagenes/mascotadetalles.png" class="float-end" width="300">
    <ul></ul>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propietario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idmascotas" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
</div>
